CompileFlags:
  Add: [-stdlib=libc++,-std=c++2b,-I/home/novarc/nova,-Wall,-nostdinc++,-I/home/novarc/ndk/android-ndk-r24/toolchains/llvm/prebuilt/linux-aarch64/sysroot/usr/include/,-I/home/novarc/ndk/android-ndk-r24/toolchains/llvm/prebuilt/linux-aarch64/sysroot/usr/include/c++/v1/,-D__ANDROID__,-I/home/novarc/nova/android/androidCore/include]
  Compiler: clang++
Diagnostics:
  UnusedIncludes: Strict
InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
