CompileFlags:
  Add: [-stdlib=libc++,-I/root/nova,-Wall,-nostdinc++,-I/root/ndk/android-ndk-r24/toolchains/llvm/prebuilt/linux-aarch64/sysroot/usr/include/,-I/root/ndk/android-ndk-r24/toolchains/llvm/prebuilt/linux-aarch64/sysroot/usr/include/c++/v1/,-D__ANDROID__,-I/root/nova/android/androidCore/include]
  Compiler: clang++
Diagnostics:
  UnusedIncludes: Strict
InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
