# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module filesando
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.xmake/

.vscode

android/target
android/lib/
android/.settings/
android/.classpath
android/.project
android/gen
android/build
android/src/main/java/nova/android/R.java
*.log
*.apk
*.jks
*.keystore
android/dist
libs/

