# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module filesando
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.xmake/

.vscode

target
lib/
.settings/
.classpath
.project
gen
build
*.log
*.apk
*.jks
*.keystore
dist
libs/
tmp/
libs/
obj/
src/nova/android/R.java
src/main/java/nova/android/R.java
nova.keystore
.clangd
